workflow.json
{
  "name": "Automated Market Research Pipeline \u2014 Rishab",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "node-001",
      "name": "1. Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED_GSHEETS",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_PERPLEXITY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a market research assistant. Return only real-time factual data with numbers, sources, and company names. Be concise and data-dense.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Provide current market intelligence for: {{ $json['Industry'] }} in {{ $json['Geography'] }}. Include: (1) market size estimates with year, (2) top 5 companies with approximate revenue or market share, (3) 3 key growth trends with supporting data points, (4) 2 major risks or headwinds. Cite specific figures wherever possible.\"\n    }\n  ],\n  \"max_tokens\": 1024,\n  \"search_recency_filter\": \"month\",\n  \"return_citations\": true\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-002",
      "name": "2. Perplexity \u2014 Live Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior market research analyst at a tier-1 consulting firm. You produce precise, data-grounded market intelligence reports. Always cite specific numbers. If uncertain, state the range and confidence level explicitly. Never fabricate statistics."
            },
            {
              "role": "user",
              "content": "=Using the following REAL-TIME web intelligence as your primary source:\n\n{{ $json.choices[0].message.content }}\n\nProduce Sections 1\u20133 of a market research report for: **{{ $('1. Google Sheets Trigger').item.json['Industry'] }}** in **{{ $('1. Google Sheets Trigger').item.json['Geography'] }}**.\n\n## Section 1 \u2014 Market Overview (100 words)\nDefine the market clearly. State its scope, the core value it delivers, and 2 distinguishing characteristics.\n\n## Section 2 \u2014 Market Size (150 words)\nProvide TAM, SAM, and SOM estimates with figures and year references. Note your confidence level (High / Medium / Estimated) for each number. Reference the real-time data above where applicable.\n\n## Section 3 \u2014 Competitive Landscape (200 words)\nName the top 5 players. For each: revenue or market share estimate, primary competitive advantage, and one strategic vulnerability.\n\nFormat: Use exact section headers shown. Use bullet points within sections. Total: 450 words maximum. Do not add sections beyond what is asked."
            }
          ]
        },
        "options": {
          "maxTokens": 900,
          "temperature": 0.3
        }
      },
      "id": "node-003",
      "name": "3. GPT Call 1 \u2014 Market Fundamentals",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        720,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "CRED_OPENAI",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior market research analyst at a tier-1 consulting firm. You produce precise, data-grounded market intelligence reports. Always cite specific numbers. If uncertain, state the range and confidence level explicitly. Never fabricate statistics."
            },
            {
              "role": "user",
              "content": "=You are continuing a structured market research report on **{{ $('1. Google Sheets Trigger').item.json['Industry'] }}** in **{{ $('1. Google Sheets Trigger').item.json['Geography'] }}**.\n\nThe market fundamentals section has already established:\n{{ $('3. GPT Call 1 \u2014 Market Fundamentals').item.json.message.content }}\n\nNow produce Sections 4\u20136:\n\n## Section 4 \u2014 Growth Drivers (150 words)\nIdentify exactly 3 specific factors driving market expansion. For each: (a) name the driver, (b) explain the mechanism, (c) cite a supporting data point or trend.\n\n## Section 5 \u2014 Barriers & Risks (150 words)\nIdentify exactly 3 key challenges or headwinds. For each: (a) name the barrier, (b) quantify its impact where possible, (c) suggest one mitigation approach.\n\n## Section 6 \u2014 Consumer Intelligence (200 words)\nDescribe 3 measurable consumer behavior shifts. Include: overall sentiment direction (positive/negative/mixed), one unresolved consumer pain point, and one emerging consumer expectation from market players.\n\nFormat: Use exact section headers. Bullet points within each section. 500 words maximum. Do not repeat content from Sections 1\u20133."
            }
          ]
        },
        "options": {
          "maxTokens": 700,
          "temperature": 0.4
        }
      },
      "id": "node-004",
      "name": "4. GPT Call 2 \u2014 Consumer Intelligence",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        960,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "CRED_OPENAI",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior market research analyst at a tier-1 consulting firm. You produce concise, high-conviction strategic outlooks. Write for a C-suite audience. Be direct, specific, and actionable."
            },
            {
              "role": "user",
              "content": "=You are writing the final section of a market research report on **{{ $('1. Google Sheets Trigger').item.json['Industry'] }}** in **{{ $('1. Google Sheets Trigger').item.json['Geography'] }}**.\n\nFull report context:\nFUNDAMENTALS: {{ $('3. GPT Call 1 \u2014 Market Fundamentals').item.json.message.content }}\nCONSUMER INTELLIGENCE: {{ $('4. GPT Call 2 \u2014 Consumer Intelligence').item.json.message.content }}\n\nProduce Section 7:\n\n## Section 7 \u2014 Strategic Outlook\n\n**12-Month Outlook (75 words):** What will change? What will consolidate? Name one specific event or inflection point likely in the next 12 months.\n\n**3-Year Projection (75 words):** What does the market look like in 2028-2029? Provide a specific market size estimate or CAGR range with your confidence level.\n\n**Top Opportunity (50 words):** The single highest-conviction opportunity for a new entrant or existing player. Be specific \u2014 name the gap, the mechanism, and the rough size of the prize.\n\n**Top Risk (50 words):** The one risk that could materially disrupt this market. Name it, quantify the potential impact, and state the early warning signal to watch.\n\n**C-Suite Summary (1 sentence):** A single sentence a CEO could repeat in a board meeting to characterize this market right now.\n\nTotal: 300 words maximum."
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.5
        }
      },
      "id": "node-005",
      "name": "5. GPT Call 3 \u2014 Strategic Synthesis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "CRED_OPENAI",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "asgn-001",
              "name": "full_report",
              "value": "=# MARKET RESEARCH REPORT\n## {{ $('1. Google Sheets Trigger').item.json['Industry'] }} \u2014 {{ $('1. Google Sheets Trigger').item.json['Geography'] }}\n**Generated:** {{ $now.format('DD MMMM YYYY, HH:mm') }} IST\n**Depth Level:** {{ $('1. Google Sheets Trigger').item.json['Depth'] }}\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n\n{{ $('3. GPT Call 1 \u2014 Market Fundamentals').item.json.message.content }}\n\n{{ $('4. GPT Call 2 \u2014 Consumer Intelligence').item.json.message.content }}\n\n{{ $('5. GPT Call 3 \u2014 Strategic Synthesis').item.json.message.content }}\n\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n*Generated by Automated Market Research Pipeline v1.0*\n*Real-time data layer: Perplexity Sonar API | Synthesis: GPT-4o*\n*This report is AI-generated. Verify critical figures before strategic decisions.*",
              "type": "string"
            },
            {
              "id": "asgn-002",
              "name": "word_count",
              "value": "={{ $('3. GPT Call 1 \u2014 Market Fundamentals').item.json.message.content.split(' ').length + $('4. GPT Call 2 \u2014 Consumer Intelligence').item.json.message.content.split(' ').length + $('5. GPT Call 3 \u2014 Strategic Synthesis').item.json.message.content.split(' ').length }}",
              "type": "number"
            },
            {
              "id": "asgn-003",
              "name": "industry",
              "value": "={{ $('1. Google Sheets Trigger').item.json['Industry'] }}",
              "type": "string"
            },
            {
              "id": "asgn-004",
              "name": "doc_title",
              "value": "={{ $('1. Google Sheets Trigger').item.json['Industry'] }} Market Research Report \u2014 {{ $now.format('DD MMM YYYY') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-006",
      "name": "6. Assemble Full Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1440,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.word_count }}",
              "rightValue": 700,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-007",
      "name": "7. Quality Gate (700+ words?)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "asgn-005",
              "name": "full_report",
              "value": "={{ $('6. Assemble Full Report').item.json.full_report }}\n\n---\n\u26a0\ufe0f QUALITY NOTE: This report was flagged as below minimum word threshold (700 words). Output may be less comprehensive than usual. Consider re-running with a more specific industry name.",
              "type": "string"
            },
            {
              "id": "asgn-006",
              "name": "word_count",
              "value": "={{ $('6. Assemble Full Report').item.json.word_count }}",
              "type": "number"
            },
            {
              "id": "asgn-007",
              "name": "industry",
              "value": "={{ $('6. Assemble Full Report').item.json.industry }}",
              "type": "string"
            },
            {
              "id": "asgn-008",
              "name": "doc_title",
              "value": "={{ $('6. Assemble Full Report').item.json.doc_title }} [FLAGGED]",
              "type": "string"
            },
            {
              "id": "asgn-009",
              "name": "quality_pass",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "node-008",
      "name": "8A. Flag Low Quality",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1920,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "asgn-010",
              "name": "full_report",
              "value": "={{ $('6. Assemble Full Report').item.json.full_report }}",
              "type": "string"
            },
            {
              "id": "asgn-011",
              "name": "word_count",
              "value": "={{ $('6. Assemble Full Report').item.json.word_count }}",
              "type": "number"
            },
            {
              "id": "asgn-012",
              "name": "industry",
              "value": "={{ $('6. Assemble Full Report').item.json.industry }}",
              "type": "string"
            },
            {
              "id": "asgn-013",
              "name": "doc_title",
              "value": "={{ $('6. Assemble Full Report').item.json.doc_title }}",
              "type": "string"
            },
            {
              "id": "asgn-014",
              "name": "quality_pass",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "node-009",
      "name": "8B. Quality Passed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1920,
        240
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "id": "node-010",
      "name": "9. Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2160,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "={{ $json.doc_title }}",
        "content": "={{ $json.full_report }}",
        "options": {}
      },
      "id": "node-011",
      "name": "10. Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2400,
        400
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED_GDOCS",
          "name": "Google Docs Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "Market Research Runs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Industry": "={{ $('9. Merge Branches').item.json.industry }}",
            "Date Run": "={{ $now.format('YYYY-MM-DD') }}",
            "Status": "Complete",
            "Report Link": "={{ $json.uri }}",
            "Word Count": "={{ $('9. Merge Branches').item.json.word_count }}",
            "Quality Pass": "={{ $('9. Merge Branches').item.json.quality_pass }}"
          }
        },
        "options": {}
      },
      "id": "node-012",
      "name": "11. Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2640,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "CRED_AIRTABLE",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "\u2705 Complete",
            "Report Link": "={{ $('11. Log to Airtable').item.json.fields['Report Link'] }}",
            "Word Count": "={{ $('9. Merge Branches').item.json.word_count }}",
            "Quality Pass": "={{ $('9. Merge Branches').item.json.quality_pass }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "node-013",
      "name": "12. Update Sheets Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2880,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED_GSHEETS",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "1. Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "2. Perplexity \u2014 Live Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Perplexity \u2014 Live Web Search": {
      "main": [
        [
          {
            "node": "3. GPT Call 1 \u2014 Market Fundamentals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. GPT Call 1 \u2014 Market Fundamentals": {
      "main": [
        [
          {
            "node": "4. GPT Call 2 \u2014 Consumer Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. GPT Call 2 \u2014 Consumer Intelligence": {
      "main": [
        [
          {
            "node": "5. GPT Call 3 \u2014 Strategic Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. GPT Call 3 \u2014 Strategic Synthesis": {
      "main": [
        [
          {
            "node": "6. Assemble Full Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Assemble Full Report": {
      "main": [
        [
          {
            "node": "7. Quality Gate (700+ words?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Quality Gate (700+ words?)": {
      "main": [
        [
          {
            "node": "8B. Quality Passed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "8A. Flag Low Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8B. Quality Passed": {
      "main": [
        [
          {
            "node": "9. Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8A. Flag Low Quality": {
      "main": [
        [
          {
            "node": "9. Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "9. Merge Branches": {
      "main": [
        [
          {
            "node": "10. Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Create Google Doc": {
      "main": [
        [
          {
            "node": "11. Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Log to Airtable": {
      "main": [
        [
          {
            "node": "12. Update Sheets Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "market-research-pipeline-v1"
  }
}