workflow.json
{
  "name": "Market Research Pipeline — Tavily + Groq",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TAVILY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.industry }} consumer trends growth drivers challenges {{ $json.Geography }} 2025"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            },
            {
              "name": "max_results",
              "value": "5"
            },
            {
              "name": "include_answer",
              "value": "advanced"
            },
            {
              "name": "topic",
              "value": "general"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c0a5c8f1-fb6d-40c7-b530-5aee129c4a0e",
      "name": "2b. Tavily — Trends & Consumer Data1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1216,
        96
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 CROSS JOIN input2"
      },
      "id": "051d8062-ad25-48ba-92c4-53904b6b359d",
      "name": "3. Merge Tavily Results1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -976,
        0
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "industry",
              "stringValue": "={{ $('Edit Fields').item.json.industry }}"
            },
            {
              "name": "Geography",
              "stringValue": "={{$('Edit Fields').item.json.Geography}}"
            }
          ]
        },
        "options": {}
      },
      "id": "43a1dbf5-95b6-462e-949c-ac501c801b69",
      "name": "4. Prepare Context Variables1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -768,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}\n",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b3451d45-283e-4d0b-a6d0-d763f456273f",
      "name": "5. Groq — Market Fundamentals1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -144,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}\n",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "535f13d7-b53a-4e97-bf3c-9a41e73dac8a",
      "name": "6. Groq — Consumer Intelligence1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}\n",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "65c492ea-6f8b-4711-83dc-d6874e352eed",
      "name": "7. Groq — Strategic Synthesis1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff30522b-e61e-435e-bdee-8796e874055e",
              "name": "user message",
              "value": "==Using this market context:\n{{ $('5. Groq — Market Fundamentals1').item.json.choices[0].message.content }}\n\nNow produce Sections 4-6 for {{ $('4. Prepare Context Variables1').item.json.industry }} in {{ $('4. Prepare Context Variables1').item.json.Geography }}:\n\n## Section 4 — Growth Drivers\n3 growth factors. For each: name, mechanism, data point.\n\n## Section 5 — Barriers & Risks\n3 challenges. For each: name, impact, mitigation.\n\n## Section 6 — Consumer Intelligence\n3 behavior shifts, one pain point, one emerging expectation.\n\n500 words max. Use exact headers.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        0
      ],
      "id": "a260dd1c-adbf-4ed3-9d52-37385de6aaef",
      "name": "Prepare Node 6 Content1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52c47bb2-5428-40ce-8f30-bd7dd2f633a3",
              "name": "user_message",
              "value": "==You are completing a market research report for {{ $('4. Prepare Context Variables1').item.json.industry }} in {{ $('4. Prepare Context Variables1').item.json.Geography }}.\n\nMARKET FUNDAMENTALS:\n{{ $('5. Groq — Market Fundamentals1').item.json.choices[0].message.content }}\n\nCONSUMER INTELLIGENCE:\n{{ $('6. Groq — Consumer Intelligence1').item.json.choices[0].message.content }}\n\nProduce Section 7 — Strategic Outlook:\n\n**12-Month Outlook (75 words):** What will change or consolidate? Name one specific inflection point.\n**3-Year Projection (75 words):** Market size or CAGR estimate for 2028. State confidence level.\n**Top Opportunity (50 words):** Single highest-conviction opportunity. Gap, mechanism, prize size.\n**Top Risk (50 words):** One material disruption risk. Quantify impact. Early warning signal.\n**C-Suite Summary (1 sentence):** One sentence a CEO can repeat in a board meeting.\n\n300 words maximum.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        0
      ],
      "id": "fe642e36-a8b9-4dfe-b43b-15876d77396b",
      "name": "Prepare Node 7 Content1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TAVILY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.industry }} market size players {{ $json.Geography }} 2025"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            },
            {
              "name": "max_results",
              "value": "5"
            },
            {
              "name": "include_answer",
              "value": "advanced"
            },
            {
              "name": "topic",
              "value": "general"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "e6e29d55-e1c3-4acc-98be-b160f72761d1",
      "name": "2a. Tavily — Market Size & Players1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1216,
        -112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6a22a54-fe25-4fcb-b77d-d988f6101eb8",
              "name": "user_message",
              "value": "==Using the following market research data:\n\nMARKET SIZE & PLAYERS:\n{{ $('2a. Tavily — Market Size & Players1').item.json.answer }}\n\nTRENDS & CONSUMER DATA:\n{{ $('2b. Tavily — Trends & Consumer Data1').item.json.answer }}\n\nProduce Sections 1-3 for {{ $('4. Prepare Context Variables1').item.json.industry }} in {{ $('4. Prepare Context Variables1').item.json.Geography }}:\n\n## Section 1 — Market Overview (150 words)\nDefine market scope, key segments, geographic coverage, 2 distinguishing characteristics.\n\n## Section 2 — Market Size (150 words)\nTAM, SAM, SOM estimates with confidence levels.\n\n## Section 3 — Competitive Landscape (200 words)\nTop 5 players. For each: revenue/share, primary advantage, one vulnerability.\n\n500 words max. Use exact headers. Bullets.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        0
      ],
      "id": "36b453fe-fb31-4140-a012-d76d834890d6",
      "name": "Prepare Node 5 Content1"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2336,
        -32
      ],
      "id": "22fcb544-7722-445e-a12a-9b90f9e1e6e5",
      "name": "When chat message received",
      "webhookId": "0f8167ec-8692-4c76-8dcc-a5a7872e7190"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Extract industry and geography from the user message.\nRespond with ONLY this JSON, nothing else:\n{\"industry\": \"extracted industry\", \"geography\": \"extracted location\"}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2096,
        -32
      ],
      "id": "24670da4-55b0-4ed7-b577-c937c2bb151e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2096,
        176
      ],
      "id": "fa150748-6637-49c4-b3f0-59c40213af2b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "rm9gSMjRQEXkGXNh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  throw new Error('No JSON found in agent output: ' + raw);\n}\n\nconst parsed = JSON.parse(match[0]);\n\nreturn [{\n  json: {\n    industry: parsed.industry.trim(),\n    geography: parsed.geography.trim()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        -32
      ],
      "id": "e01d2c33-7c7b-4b6a-b067-7d31a27e5f50",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17269942-71bd-400d-a677-4aab38c1df8a",
              "name": "industry",
              "value": "=\t{{ $json.industry }}",
              "type": "string"
            },
            {
              "id": "25095143-bdc1-4006-bdc8-8c5a02636a6d",
              "name": "Geography",
              "value": "={{ $json.geography }}",
              "type": "string"
            },
            {
              "id": "1ccd02cd-01b2-4742-a3b4-22e1ebfc280a",
              "name": "tavily_query_1",
              "value": "={{ $json.industry }} market size revenue players {{ $json.geography }} 2025",
              "type": "string"
            },
            {
              "id": "0f519621-34fe-4d16-a41e-a55a0e4b8c9a",
              "name": "tavily_query_2",
              "value": "={{ $json.industry }} consumer trends behavior {{ $json.geography }} 2024 2025",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        -32
      ],
      "id": "1d4052a7-1074-4c14-9f2d-2051a9b3e3a7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "={{ $json.industry }} Market Research — {{ $json.Geography }}",
        "message": "={{ $json.full_report_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        -128
      ],
      "id": "3542e0bb-5615-4826-8b22-595784884637",
      "name": "Send a message",
      "webhookId": "2ad5245c-892b-46b0-8cb3-a1575564fa3c",
      "credentials": {
        "gmailOAuth2": {
          "id": "GcNgPNdOVBWOahSL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1696,
        96
      ],
      "id": "e9597063-dbf5-4cb3-8c73-f99241516735",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const userMessage = $input.item.json.user_message;\n\nconst body = {\n  model: \"llama-3.3-70b-versatile\",\n  temperature: 0.3,\n  max_tokens: 800,\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a senior market research analyst. Be precise. Never fabricate statistics.\"\n    },\n    {\n      role: \"user\",\n      content: userMessage\n    }\n  ]\n};\n\nreturn { body: JSON.stringify(body) };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        0
      ],
      "id": "d4f72e1f-021f-4a7a-8e15-b20c3ad08639",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.all()[0].json;\nconst userMessage = item[\"user message\"];\n\nconst body = {\n  model: \"llama-3.3-70b-versatile\",\n  temperature: 0.3,\n  max_tokens: 800,\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a senior market research analyst. Be precise. Never fabricate statistics.\"\n    },\n    {\n      role: \"user\",\n      content: userMessage\n    }\n  ]\n};\n\nreturn [{ json: { body: JSON.stringify(body) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "id": "d3c5e333-fcd4-4a51-a830-855a0c3b0cf1",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.all()[0].json;\nconst userMessage = item[\"user_message\"];\n\nconst body = {\n  model: \"llama-3.3-70b-versatile\",\n  temperature: 0.3,\n  max_tokens: 800,\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a senior market research analyst. Be precise. Never fabricate statistics.\"\n    },\n    {\n      role: \"user\",\n      content: userMessage\n    }\n  ]\n};\n\nreturn [{ json: { body: JSON.stringify(body) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "3ce6628f-9113-449d-854c-2dd90a793c0e",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const section123 = $('5. Groq — Market Fundamentals1').first().json.choices[0].message.content;\nconst section456 = $('6. Groq — Consumer Intelligence1').first().json.choices[0].message.content;\nconst section789 = $('7. Groq — Strategic Synthesis1').first().json.choices[0].message.content;\n\nconst industry = $('Edit Fields').first().json.industry;\nconst geography = $('Edit Fields').first().json.Geography;\n\nfunction mdToHtml(md) {\n  return md\n    .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n    .replace(/^## (.+)$/gm, '<h2>$1</h2>')\n    .replace(/^# (.+)$/gm, '<h1>$1</h1>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.+?)\\*/g, '<em>$1</em>')\n    .replace(/^\\* (.+)$/gm, '<li>$1</li>')\n    .replace(/^\\d+\\. (.+)$/gm, '<li>$1</li>')\n    .replace(/(<li>.*<\\/li>)/gs, '<ul>$1</ul>')\n    .replace(/\\n{2,}/g, '</p><p>')\n    .replace(/^(?!<[hlu])/gm, '')\n    .trim();\n}\n\nconst full_report_html = `\n<div style=\"font-family: Arial, sans-serif; max-width: 800px; margin: auto; color: #222;\">\n  <h1 style=\"color: #1a1a2e; border-bottom: 2px solid #e63946; padding-bottom: 8px;\">\n    ${industry} Market Research — ${geography}\n  </h1>\n  ${mdToHtml(section123)}\n  ${mdToHtml(section456)}\n  ${mdToHtml(section789)}\n</div>\n`;\n\nreturn [{\n  json: {\n    full_report_html,\n    industry,\n    Geography: geography\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ],
      "id": "2fb2aa14-6c88-4b83-90de-0ecc60f42e67",
      "name": "Assembly Full Report1"
    }
  ],
  "pinData": {},
  "connections": {
    "2b. Tavily — Trends & Consumer Data1": {
      "main": [
        [
          {
            "node": "3. Merge Tavily Results1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "3. Merge Tavily Results1": {
      "main": [
        [
          {
            "node": "4. Prepare Context Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Prepare Context Variables1": {
      "main": [
        [
          {
            "node": "Prepare Node 5 Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Groq — Market Fundamentals1": {
      "main": [
        [
          {
            "node": "Prepare Node 6 Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Groq — Consumer Intelligence1": {
      "main": [
        [
          {
            "node": "Prepare Node 7 Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Groq — Strategic Synthesis1": {
      "main": [
        [
          {
            "node": "Assembly Full Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Node 6 Content1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Node 7 Content1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2a. Tavily — Market Size & Players1": {
      "main": [
        [
          {
            "node": "3. Merge Tavily Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Node 5 Content1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "2a. Tavily — Market Size & Players1",
            "type": "main",
            "index": 0
          },
          {
            "node": "2b. Tavily — Trends & Consumer Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "5. Groq — Market Fundamentals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "6. Groq — Consumer Intelligence1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "7. Groq — Strategic Synthesis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assembly Full Report1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9b290b21-01d4-4c02-8701-72dc5e8cb387",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33e651670791ee8006cd295a896789cc900a7cc3720ad69f15d1db590fabbc6b"
  },
  "id": "WSbLM_ebBPZELav1zBUl-",
  "tags": []
}